# Imports

In [22]:
# Basic pandas and numpy
import pandas as pd
import numpy as np
 
# Basic visualization tools
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
 
# Pandas defaults
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500
 
# Make jupyter bigger
from IPython.core.display import display, HTML
display(HTML('<style>.container { width:100% !important; }</style>'))

In [23]:
categorical = pd.read_csv('../Data/df3.csv')

In [24]:
categorical.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

# Cabin

We will preserve only the letter

In [33]:
def letterextractor(string):
    """
    Takes whatever is not a letter out of the string.a
    """
    import re
    try:
        clean = re.sub("[^a-zA-Z]", "", string)
        if len(clean) > 1:
            return clean[0]
        else:
            return clean
    except:
        pass

In [34]:
categorical.Cabin = categorical.Cabin.apply(letterextractor)

In [35]:
categorical.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,None,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,None,S

In [36]:
categorical.Cabin.value_counts()

C    59
B    47
D    33
E    32
A    15
F    13
G     4
T     1
Name: Cabin, dtype: int64

# Name

In [37]:
def namelength(string):
    """
    Returns length of the name string
    """
    return len(string)

In [39]:
categorical.Name = categorical.Name.apply(namelength)

In [40]:
categorical.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,23,male,22.0,1,0,A/5 21171,7.2500,None,S
1,1,1,51,female,38.0,1,0,PC 17599,71.2833,C,C
2,1,3,22,female,26.0,0,0,STON/O2. 3101282,7.9250,None,S
3,1,1,44,female,35.0,1,0,113803,53.1000,C,S
4,0,3,24,male,35.0,0,0,373450,8.0500,None,S