# Imports

In [44]:
# Basic pandas and numpy
import pandas as pd
import numpy as np
 
# Basic visualization tools
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
 
# Pandas defaults
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500
 
# Make jupyter bigger
from IPython.core.display import display, HTML
display(HTML('<style>.container { width:100% !important; }</style>'))

from sklearn.preprocessing import OneHotEncoder

In [45]:
df5 = pd.read_csv('../Data/df4.csv')

# Encoding

In [46]:
df5.head()

,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_mean,Age_null,Age_plus_18,Age_plus_50,Age_bins
0,0,3,23,male,1,0,Other,7.2500,Unknown,S,22.0,22.0,1,0,Adult
1,1,1,51,female,1,0,PC,71.2833,C,C,38.0,38.0,1,0,Adult
2,1,3,22,female,0,0,Other,7.9250,Unknown,S,26.0,26.0,1,0,Adult
3,1,1,44,female,1,0,Numeric,53.1000,C,S,35.0,35.0,1,0,Adult
4,0,3,24,male,0,0,Numeric,8.0500,Unknown,S,35.0,35.0,1,0,Adult

In [47]:
one_hot_sex = df5[['Sex']].stack().str.get_dummies().sum(level=0).iloc[:,:-1].add_prefix('sex_')
one_hot_ticket = df5[['Ticket']].stack().str.get_dummies().sum(level=0).iloc[:,:-1].add_prefix('ticket_')
one_hot_cabin = df5[['Cabin']].stack().str.get_dummies().sum(level=0).iloc[:,:-1].add_prefix('cabin_')
one_hot_embarked = df5[['Embarked']].stack().str.get_dummies().sum(level=0).iloc[:,:-1].add_prefix('embarked_')
one_hot_age = df5[['Age_bins']].stack().str.get_dummies().sum(level=0).iloc[:,:-1].add_prefix('agebins_')
one_hot_sex.head()

   sex_female
0           0
1           1
2           1
3           1
4           0

In [48]:
merged = one_hot_sex.join(one_hot_ticket).join(one_hot_cabin).join(one_hot_embarked).join(one_hot_age)

In [49]:
merged.head()

,sex_female,ticket_CA,ticket_Numeric,ticket_Other,cabin_A,cabin_B,cabin_C,cabin_D,cabin_E,cabin_F,cabin_G,cabin_T,embarked_C,embarked_Q,agebins_Adult,agebins_Child,agebins_Old,agebins_Teen
0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,1,0,0,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0
2,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
3,1,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0

# Export

In [51]:
merged.to_csv('../Data/encoded.csv', index=False)