# Import

In [1]:
# Basic pandas and numpy
import pandas as pd
import numpy as np
 
# Basic visualization tools
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
 
# Pandas defaults
pd.options.display.max_columns = 500
pd.options.display.max_rows = 500
 
# Make jupyter bigger
from IPython.core.display import display, HTML
display(HTML('<style>.container { width:100% !important; }</style>'))

In [2]:
original = pd.read_csv('../Data/df4.csv')

In [3]:
original.head()

,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_mean,Age_null,Age_plus_18,Age_plus_50,Age_bins
0,0,3,23,male,1,0,Other,7.2500,Unknown,S,22.0,22.0,1,0,Adult
1,1,1,51,female,1,0,PC,71.2833,C,C,38.0,38.0,1,0,Adult
2,1,3,22,female,0,0,Other,7.9250,Unknown,S,26.0,26.0,1,0,Adult
3,1,1,44,female,1,0,Numeric,53.1000,C,S,35.0,35.0,1,0,Adult
4,0,3,24,male,0,0,Numeric,8.0500,Unknown,S,35.0,35.0,1,0,Adult

In [4]:
to_export = original[['Pclass', 'Survived']]

In [5]:
to_export.head()

   Pclass  Survived
0       3         0
1       1         1
2       3         1
3       1         1
4       3         0

In [6]:
to_export.to_csv('../Data/df44_untouched.csv', index=False)