In [1]:
import pandas as pd
import numpy as np

---
## Import Titanic Dataset - df3.csv

In [2]:
df41 = pd.read_csv('../Data/df3.csv')

In [3]:
df41.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df41.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
Survived    891 non-null int64
Pclass      891 non-null int64
Name        891 non-null object
Sex         891 non-null object
Age         714 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Ticket      891 non-null object
Fare        891 non-null float64
Cabin       204 non-null object
Embarked    891 non-null object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.6+ KB

---

## Feature Engineering of Age

- Feature 1 - Complete missing values with the mean __(Age_mean)__
- Feature 2 - Keep the Null's __(Age_null)__
- Feature 3 - Is grater than 18 __(Age_greaterThan_18)__
- Feature 4 - Is grater than 60 __(Age_greaterThan_60)__
- Feature 5 - Bins __(Age_bins)__

### Feature 1 - (Age_mean)

Apply the average to the train and test the model separately.

In [5]:
df41['Age_mean'] = df41['Age']
df41['Age_mean'] = df41['Age_mean'].fillna(round(df41['Age'].mean(),0))

### Feature 2  - (Age_null)
Keep the missing values as null

In [6]:
df41['Age_null'] = df41['Age']

### Feature 3 - (Age_greaterThan_18)
Peoples with Age greater than or equal to 18 is "1" and less than 18 "0"

In [7]:
df41['Age_greaterThan_18'] = np.where(df41.Age >= 18, 1,0)

### Feature 4 - (Age_greaterThan_50)
Peoples with Age greater than or equal to 60 is "1" and less than 18 "0"

In [8]:
df41['Age_greaterThan_50'] = np.where(df41.Age >= 50, 1,0)

### Feature 5 - (Age_bins)
Create 5 bins of Age 
1. __Child__ (0 to 13)
2. __Teen__ (14 to 18)
3. __Adult__ (19 to 45)
4. __Old__ (46 to 80)
5. __Unknown__ (Missing Values)

In [56]:
bins = pd.cut(df41.Age, [0, 13, 18, 45, 80], labels=['Child', 'Teen', 'Adult', 'Old'])
df41['Age_bins'] = np.where(bins.isnull(),'Unknown',bins)