In [1]:
import pandas as pd
import numpy as np

---
## Import Titanic Dataset - df3.csv

In [6]:
df_age = pd.read_csv('../Data/df3.csv')

In [7]:
df_age.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

---

## Feature Engineering of Age

- Feature 1 - Complete missing values with the mean __(Age_mean)__
- Feature 2 - Keep the Null's __(Age_null)__
- Feature 3 - Is grater than 18 __(Age_more_18)__
- Feature 4 - Is grater than 60 __(Age_more_60)__

### Feature 1 - (Age_mean)

Es recomendable aplicar la media al train y test del modelo por separado.