In [2]:

import numpy as np
import pandas as pd

from sklearn import preprocessing

In [19]:
df54 = pd.read_csv("../Data/df4.csv")

In [20]:
df54.head()

,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_mean,Age_null,Age_greaterThan_18,Age_greaterThan_50,Age_bins
0,0,3,23,male,1,0,Other,7.2500,NaN,S,22.0,22.0,1,0,Adult
1,1,1,51,female,1,0,PC,71.2833,C,C,38.0,38.0,1,0,Adult
2,1,3,22,female,0,0,Other,7.9250,NaN,S,26.0,26.0,1,0,Adult
3,1,1,44,female,1,0,Numeric,53.1000,C,S,35.0,35.0,1,0,Adult
4,0,3,24,male,0,0,Numeric,8.0500,NaN,S,35.0,35.0,1,0,Adult

In [21]:
df54.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked', 'Age_mean', 'Age_null', 'Age_greaterThan_18',
       'Age_greaterThan_50', 'Age_bins'],
      dtype='object')

In [22]:
df54 = df54[['Fare', 'SibSp','Parch','Name','Age_mean']]

In [23]:
df54.head()

      Fare  SibSp  Parch  Name  Age_mean
0   7.2500      1      0    23      22.0
1  71.2833      1      0    51      38.0
2   7.9250      0      0    22      26.0
3  53.1000      1      0    44      35.0
4   8.0500      0      0    24      35.0

In [24]:
df54_scaled = preprocessing.scale(df54)

In [25]:
df54_scaled = pd.DataFrame(df54_scaled)

In [26]:
df54_scaled.head()

          0         1         2         3         4
0 -0.502445  0.432793 -0.473674 -0.427451 -0.597055
1  0.786845  0.432793 -0.473674  2.590962  0.634162
2 -0.488854 -0.474545 -0.473674 -0.535252 -0.289251
3  0.420730  0.432793 -0.473674  1.836359  0.403309
4 -0.486337 -0.474545 -0.473674 -0.319651  0.403309

In [29]:
df54_scaled.columns = ['Fare_s', 'SibSp_s','Parch_s','Name_S','Age_mean_s']

In [30]:
df54_scaled.head()

     Fare_s   SibSp_s   Parch_s    Name_S  Age_mean_s
0 -0.502445  0.432793 -0.473674 -0.427451   -0.597055
1  0.786845  0.432793 -0.473674  2.590962    0.634162
2 -0.488854 -0.474545 -0.473674 -0.535252   -0.289251
3  0.420730  0.432793 -0.473674  1.836359    0.403309
4 -0.486337 -0.474545 -0.473674 -0.319651    0.403309

In [33]:
df54_scaled.to_csv("../Data/df44_scaled.csv", index=False)